@import "_styles/globals.import.styl"

body
    h1, h2, h3, h4, h5, p, div
        font-family Arial-Narrow

a
    color white
    font-weight 300
    text-decoration none
    &:hover
        font-weight 900
        color darken(white, 20%)
