body
    h1
        font-family Arial-Narrow


    .drop-down-container
        width 33%
        margin auto
        display flex
        .dropdown__trigger
            flex-grow 1
        .dropdown-menu
            text-align center
            flex-grow 1
