/* adding font-faces to Stylus is just slightly different...

example:

@font-face
  font-family Geo
  font-style normal
  src url(fonts/geo_sans_light/GensansLight.ttf)

.ingeo
  font-family Geo

*/

@font-face
    font-family: Arial-Narrow
    src url(/fonts/arial-narrow/arial-narrow.ttf)

@font-face
    font-family: Pirulen
    src url(/fonts/pirulen/pirulen.ttf)


@font-face
    font-family: Montserrat
    src url(/fonts/montserrat/Montserrat-Regular.ttf)
